@model MvcStok.Models.Entity.TBLURUNLER
@{
    ViewBag.Title = "UrunEkle";
    Layout = "~/Views/Shared/_mainlayout.cshtml";
}

<form method="post" class="form-group">
    <form method="post" class="form-group">
        <div>
            <label>Ürün Adı</label>
            <input type="text" class="form-control" name="URUNAD" />

        </div>
        <div>
            <label>Marka</label>
            <input type="text" class="form-control" name="MARKA" />
        </div>
        <div>
            <label>Kategori</label>
            @Html.DropDownListFor(m=>m.TBLKATEGORI.KATEGORIID,(List<SelectListItem>)ViewBag.dgr,new {@class = "form-control"});
        </div>
        <div>
            <label>Fiyat</label>
            <input type="text" class="form-control" name="FIYAT" />
        </div>
        <div>
            <label>Stok</label>
            <input type="text" class="form-control" name="STOK" />
        </div>

        <div>
            <button class="btn btn-primary">Yeni Ürün Eke</button>
        </div>
    </form>
</form>

