@model MvcStok.Models.Entity.TBLMUSTERILER
@{
    ViewBag.Title = "MusteriEkle";
    Layout = "~/Views/Shared/_mainlayout.cshtml";
}

<form method="post" class="form-group">
    <div>
        <label>Müşteri Adı</label>
        @Html.TextBoxFor(m=>m.MUSTERIAD,new {@class = "form-control"})
        @Html.ValidationMessageFor(m=>m.MUSTERIAD,"",new{@style = "color:red"})
       
    </div>
    <div>
        <label>Müşteri Soyadı</label>
        <input type="text"class="form-control"name="MUSTERISOYAD"/>
    </div>
    <div>
        <button class="btn btn-primary" id="btn1">Yeni Müşteri Ekle</button>
    </div>
    <script>
        $('#btn1').click(function() {
            alert('Müşteri ekleme işlemi başarılı!!!');
        });
    </script>
</form>

